body {
	background-color: rgb(0, 11, 11);
	color: whitesmoke;
}

/* For the Navigation Bar*/
#navbar {
	list-style-type: none;
	margin: 0;
  	padding: 0;
	overflow: hidden;
  }

#navbar ul {
	margin-top: 2em;
	text-align: center;
}

#navbar li {
	display: inline;
}

#navbar li a {
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
	color: inherit;
}  

#navbar a:hover {
	color: darkgreen;
  }

  /* Main content */
#bio, #code, #projects, #notes{
	text-align: center;
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	padding-left: 2.5em;
	padding-right: 2.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	border: solid;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

/* For all lists in the website */
li {
	list-style-type: none;
}

/* For all hyperlinks in the website */
.h-links {
	text-decoration: none;
	color: inherit;
}

.h-links:hover {
	text-decoration: none;
	color: darkgreen;
}