body {
	/* Test */
	background-color: black;
	color: whitesmoke;
	text-align: center;
	margin-left: 10em;
	margin-right: 10em;
	margin-top: 5em;
	margin-bottom: 5em;
}

/* For all lists in the website */
li {
	list-style-type: none;
}

/* For all hyperlinks in the website */
.h-links {
	text-decoration: none;
	color: inherit;
}

.h-links:hover {
	text-decoration: none;
	color: white;
}